body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header, .footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
}
.header {
  justify-content: center;
  gap: 16px;
  padding: 0 0 75px 0;
}
.logo, .header.right {
  width: 390px;
  padding: 0;
  margin: 0;
}
.header.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo.head {
  font-size: 24px;
  margin: 0 0 74px 0;
}
.logo.par1 {
  font-size: 48px;
  font-weight: bolder;
}
.logo.par2, .header.right {
  font-size: 18px;
  color: #E5E7EB;
}
.button {
  background-color: #3882F6;
  border: 0;
  border-radius: 5px;
  color: #F9FAF8;
  width: 90px;
  height: 25px;
  margin-top: 8px;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 5px 0;
}
a {
  text-decoration: none;
  color: #E5E7EB;
}
.header.right img {
  width: 320px;
  height: auto;
}

.title-info {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
  margin: 32px 0;
}
.info-div {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 32px;
}
.card-info {
  text-align: center;
  width: 150px;
}
.card {
  border: 5px solid #3882F6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}
.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.actual-quote {
  width: 90%;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}
.who-wrote {
  width: 90%;
  font-weight: 700;
  text-align: right;
  padding-right: 80px;
}
.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9FAF8;
  padding: 100px;
}
.sign-box {
  background-color: #3882F6;
  border-radius: 15px;
  width: 700px;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign button {
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 5px;
  color: #F9FAF8;
  width: 90px;
  height: 25px;
}
.sign-head {
  font-weight: bolder;
  font-size: 24px;
}