body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header, .footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
}
.header {
  justify-content: center;
  gap: 16px;
  padding: 0 0 75px 0;
}
.logo, .header.right {
  width: 390px;
  padding: 0;
  margin: 0;
}
.header.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo.head {
  font-size: 24px;
  margin: 0 0 74px 0;
}
.logo.par1 {
  font-size: 48px;
  font-weight: bolder;
}
.logo.par2, .header.right {
  font-size: 18px;
  color: #E5E7EB;
}
.button {
  background-color: #3882F6;
  border: 0;
  border-radius: 5px;
  color: #F9FAF8;
  width: 90px;
  height: 25px;
  margin-top: 8px;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 5px 0;
}
a {
  text-decoration: none;
  color: #E5E7EB;
}
img {
  width: 320px;
  height: auto;
}